@charset "UTF-8";

/* CSS Document 
Title Color #84A98C*/
body {
background-color:aliceblue;
font-family: bree,sans-serif;
font-weight: 1600;
font-style: normal;
margin: 0px;
padding: 0px;
border: 0px;
}


h1 {
font-family: bree, sans-serif;
font-size: 120px;
height: 30px;
color:#84A98C;
text-align: center;
padding-top: -15px; 
padding-bottom: 20px;
}

h2 {
font-family: bree, sans-serif;
font-size: 50px;
height: 30px;
color:#84A98C;
text-align: center;
padding-top: -15px; 
padding-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6C8974;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
	width: 1440px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #818D92;
}

.active {
  background-color: #84A98C;
}




